.MobileClient {
  display: table-row;
}

.LastNameCell, .FirstNameCell, .MiddleNameCell, .BalanceCell, .EditCell, .DeleteCell, .StatusOkCell, .StatusBlockCell, .StatusUnknownCell {
  display: table-cell;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  text-align: left;
  word-wrap: break-word;
  margin: 0px;
  padding: 3px 5px 3px 5px;
}

.StatusOkCell, .StatusBlockCell, .StatusUnknownCell {
  margin: 0px;
  padding-left: 5px;
}

.StatusOkCell {
  background-color: lightgreen;
}

.StatusBlockCell {
  background-color: red;
}

.StatusUnknownCell {
  background-color: grey;
}
