.MobileCompanyName {
  display: block;
  margin: 5px 0px 5px 0px;
}

.MobileCompanyClients {
  display: table; 
  border-collapse: collapse;
  margin: 5px 0px 5px 0px;
  padding: 0px;
}

.ToolBar {
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  padding: 5px 0px 5px 0px;
  margin: 5px 0px 5px 0px;
}

.Footer {
  margin-top: 5px;
}